@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<p>Você não tem permissão de acesso para isto.<a asp-controller="Home" asp-action="Index">Clique aqui para voltar</a></p>
