@{
    ViewData["Title"] = "Apagar Contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato(Matheus de Abreu)?</h3>

    <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="Index">Cancelar exclusão</a>
    <a class="btn btn-danger" role="button" asp-controller="Contato" asp-action="Apagar">Confirmar exclusão</a>
</div>

