
@{
    ViewData["Title"] = "Lista de Contatos";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Contato" asp-action="CriarContato">Adicionar Contato</a>
    </div>
    <br/>
    <h1 class="display-4">Lista de Contatos</h1>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Celular</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>mark@gmail.com</td>
      <td>9 052158614</td>
    <td>
      <div class="btn-group" role="group">
          <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="ApagarContato">Apagar</a>
          <a role="button" class="btn btn-warning" asp-controller="Contato" asp-action="EditarContato">Editar</a>
      </div>
    </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton@gmail.comtd>
      <td>9 12478547</td>
      <td>
      <div class="btn-group" role="group">
          <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="ApagarContato">Apagar</a>
          <a role="button" class="btn btn-warning" asp-controller="Contato" asp-action="EditarContato">Editar</a>
      </div>
    </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>Themark@gmail.com</td>
      <td>11 98994745</td>
      <td>
      <div class="btn-group" role="group">
          <a role="button" class="btn btn-danger" asp-controller="Contato" asp-action="ApagarContato">Apagar</a>
          <a role="button" class="btn btn-warning" asp-controller="Contato" asp-action="EditarContato">Editar</a>
      </div>
    </td>
    </tr>
  </tbody>
</table>
    



</div>    

    