@model HomeModel
@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, @Model.Nome </h1>
    <p>Lista de Contatos</p>
    <span>Seu email é @Model.Email</span>
</div>
